@charset "ISO-8859-1";

body {
	background-color: #282c3f;
	font-variant: small-caps;
	font-weight: bold;
	color: black;
}

.d1 {
	display: flex;
	margin-top: 2%;
	margin-left: 30%;
}

.logodiv {
	padding-left: 220px;
}

.formdiv {
	padding-top: 10px;
	padding-bottom: 15px;
	margin-left: 20%;
	padding-left: 70px;
	background-color: snow;
	width: 550px;
	border-radius: 10px;
}

.label1 {
	padding-top: 5px;
	font-size: large;
}

.input1 {
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	padding-left: 70px;
}

.div1 {
	padding-right: 30px;
	display: flex;
	margin-top: 5%;
	margin-left: 5%;
}

.formedit {
	border: solid 1px rgb(39, 190, 47);
}

.inputstyle {
	padding-right: 40%;
	padding-top: 10px;
}

.selectedit {
	padding:2% 20%;
	border-radius: 6px;
}

.dropdownedit {
	top: 40px;
	padding-right: 60px;
}

.buttonedit {
	position: relative;
	top: 30px;
	left: 35px;
	padding: 5px 40px 5px 40px;
	font-variant: small-caps;
	font-size: 22px;
	font-weight: bold;
	border-color: red;
	margin-left: 20%;
	background-color: rgb(39, 190, 47);
	border-radius: 20px;
}

.buttonedit:hover {
	background-color: darkblue;
	border-color: rgb(212, 13, 13);
	color: white;
}

.buttonedit1 {
	position: relative;
	top: 10px;
	left: 35px;
	padding: 4px 20px 20px 4px;
	font-variant: small-caps;
	font-size: 18px;
	font-weight: bold;
	border-color: white;
	margin-left: 10%;
	background-color: rgb(39, 190, 47);
	border-radius: 20px;
}

.buttonedit1:hover {
	background-color: darkblue;
	border-color: rgb(212, 13, 13);
	color: white;
}