a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(39, 190, 47);
}

.carousel-caption {
    color: rgb(39, 190, 47);
}

.poetsen-one-regular {
    font-family: "Poetsen One", sans-serif;
    font-weight: 500;
    font-style: normal;
}

/* .sedan-sc-regular {
    font-family: "Sedan SC", serif;
    font-weight: 400;
    font-style: normal;
} */

.catimg {
    border-radius: 50%;
    width: 200px;
    height: 140px;
}

.catimg1 {
    height: 110px;
    width: 200px;
}

.footer-text {
    color: rgb(135, 138, 138);
    margin-bottom: 10px;
}