.heading{
    font-variant: small-caps;
    font-weight: 200;
    font-size: 230%;
    font-style: normal;
    font-weight: bold;
}

.box {
    width: 80px;
    height: 25px;
    background-color: whitesmoke;
    border: 1px solid rgb(250, 207, 207);
    position: relative;
    display: flex; 
    justify-content: space-between; 
  }
  
  .symbol {
    width: 20px;
    text-align: center; 
    line-height: 20px;  
    font-size: 18px; 
    cursor: pointer; 
  }
  .number {
    font-size: 18px; 
  }
  
  .symbol.plus {
    color: green;
  }
  
  .symbol.minus {
   color: red;
  }
  .deliveryaddress{
    font-variant: small-caps;
    font-weight: bold;
    color: rgb(14, 141, 14);
  }
.deliverbtn{
    background-color: rgb(17, 119, 17); 
    color: whitesmoke; 
    border: none;
    font-weight: bold;
}
.addnewbtn{
    color:  rgb(17, 119, 17); 
    font-weight: bold;
    border: 1px solid rgb(24, 177, 24);
}
.placeorderbtn{
    font-weight: bold;
    background-color: rgb(17, 119, 17); 
    color: whitesmoke; 
    border: none;
}
.saveaddressbtn{
    background-color: rgb(17, 119, 17); 
}
.addr4{
 border: 1px dotted black; 
 text-align: center;
}
.addr4:hover{
  border: 2px solid rgb(5, 110, 5);
  
}
.emptycart{
  display: none;
  text-align: center;
}
.emptycartdiv{
 font-weight: bold;
 color:rgb(13, 97, 2);
 font-variant: small-caps;
}
.orderdetailsbtn{
  font-weight: bold;
  background-color: rgb(17, 119, 17); 
  color: whitesmoke; 
  border: none;

}
