.navbar-custom {
  background-color: #f4f2f254;
}

.navbar-custom .nav-link {
  color: orange;
  border-radius: 100px;
}

.navbar-custom .nav-link:hover {
  background-color: #9c9a9a;
  color: orange;
}

.navbar-heading {
  color: orange;
}

.HotelImage {
  border-radius: 100px;
}

.order-card {
  border: 1px solid orange;
}
