.deliveryaddress {
    font-variant: small-caps;
    font-weight: bold;
    color: rgb(14, 141, 14);
}

.address1 {
    border: 1px dotted rgba(32, 30, 30, 0.918);
    text-align: center;
}

.address1:hover {
    border: 1px solid rgb(5, 110, 5);

}

.profileaddbtn {
    color: rgb(245, 86, 28);

    border: none;
    font-weight: bold;
}

.profileaddbtn:hover {
    color: rgb(5, 110, 5);
}